<%- include('./components/bootstrap'); %> <%-
include('./components/navigation'); %>

<section style="background-color: #eee">
  <div class="container py-5">
    <h4 class="text-center mb-5"><strong>TAKE YOUR TIME COLLECTION</strong></h4>
  </div>
</section>

<%- include('./components/footer'); %>
